/*   Color scheme
#1F2232;    # Dark Metallic
#EC4E20;    # Red
#E8ECEE;    # Light grey
#40798C;    # Teal
#70A9A1;    # Green
*/

.App {
  text-align: center;
}

.App-header {
  background-color: #1F2232;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 60px;
}

.App-link {
  color: #40798C;
}

.Body{
  background: #E8ECEE;
  min-height: 100vh;
  padding-bottom: 1em;
}

.HomeNavBar{
  margin-bottom: 0px;
}

footer {
  margin: 1em;
}

footer .btn {
  margin-top: -0.5em;
}

@media (max-width: 650px) {
  .Body {
    padding-top: 3em;
  }
}

.container-fluid {
  padding-right: 30px;
  padding-left: 30px;
}