.profile-view-padding {
    padding-top: 3em;
}

.profile-view-margin {
    margin: 1em;
}

.user-profile-header {
    text-align: -webkit-center;
    font-size: 16px;
    background-color: #343a40;
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.5);
    box-shadow: 5px 9px 5px -4px rgba(0,0,0,0.28);

}
.error-message-empty-list{
    height: auto;
    border: 1px transparent;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    width: 70%;
}

.container-fluid {
    text-align: -webkit-center;
}

.Body > .container-fluid > .container {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding: 0px;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.form-group {
    text-align: -webkit-left;
}
.label-display {
    font-size: larger;
    font-weight: 400;
}

.legend {
    text-align: center;
    background-color: #343a40;
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.5);
    height: 36px;
    width: 60%;
    padding-top: 5px;
    font-size: 16px;
    margin-top: 1.5em;
    border-radius: 3px;
}

.fieldset {
    border: 1px solid;
    width: -webkit-fill-available;
    border-radius: 3px;
    display: inline-flex;
    margin-bottom: 20px;
    box-shadow: 5px 9px 5px -4px rgba(0,0,0,0.28);

}

.yes-submitted-alert{
    text-align: center;
    height: 38px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
}

.no-submitted-alert{
    text-align: center;
    height: 38px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #FFFFFF;
    opacity: 0.9;
}

.table {
    margin: 1em;
    display: flex;
    flex-direction: column;

    .header, .row {
        display: flex;

        div {
            flex: 1;
            padding: 0.2rem 0.4em;
            border: 1px solid rgb(238, 238, 238);
        }
    }

    .header {
        background-color: rgb(238, 238, 238);
        div {
            cursor: pointer;
        }
    }
}