.body {
  padding-top: 0em;
}
.required-indicator {
  display: inline-block;
  margin-left: -20px;
  margin-right: 10px;
  font-size: 0.8em;
  color: #A84A43;
}

.container {
  display: flex;
  align-items: center;
  margin: 3rem 0;
  flex-direction: column;
}

table {
  border-spacing: 0;
  border: 1px solid black;
}

tr:last-child > td {
  border-bottom: 0;
}

th,
td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
th:last-child ,
td:last-child {
  border-right: 0;
}
