@media all and (min-width: 480px) {
    .InvitationLetter {
      padding: 60px 0;
    }
}

.alert-container{
    margin-top: 16px;
}
 
#labelWorkAddress {  font-size: 20px;   margin: auto;   border: 1px solid #212529; padding: 20px;}