.progress {
    margin-bottom: 20px;
    transition: all 0.2s ease;
}
  
.progress-step {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 18px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.section .question {
    margin-bottom: 4em;
}

.section .headline {
    margin-bottom: 4em;
}