version: 2.1
jobs:
  build:
    machine: true
    steps:
      - checkout
      - run:
          name: Start container
          command: docker-compose up -d
      - run:
          name: Run migrations
          command: |
            docker-compose run web python api/run.py db upgrade --directory api/migrations
            docker-compose run web python api/run.py db downgrade --directory api/migrations
            docker-compose run web python api/run.py db upgrade --directory api/migrations
      - run:
          name: Run tests
          command: docker-compose run web nosetests -v

  frontEndTests:
    machine: true
    steps:
      - checkout
      - run:
          name: Front-end install and tests.
          command: |
            docker-compose build test-ci 
            docker-compose run test-ci  

  migrate-test:
    machine: true
    steps:
      - checkout
      - run:
          name: Migrate the staging database
          command: |
            # Install the cloud_sql_proxy
            echo $GCLOUD_SQL_SERVICE_KEY > cloud_proxy.key
            wget https://dl.google.com/cloudsql/cloud_sql_proxy.linux.amd64 -O cloud_sql_proxy
            chmod +x cloud_sql_proxy
            sudo mkdir /cloudsql
            sudo chmod 777 /cloudsql
            ./cloud_sql_proxy -dir=/cloudsql -instances=baobab:us-central1:baobab -credential_file=cloud_proxy.key & # Run the cloud_sql_proxy
            # Run the migrations
            cd api
            pip install -r requirements.txt
            DATABASE_URL=$STAGING_DB_PROXY python run.py db upgrade # Temporarily update the database url to the proxy and run migrations

  migrate-prod:
    machine: true
    steps:
      - checkout
      - run:
          name: Migrate the prod database
          command: |
            # Install the cloud_sql_proxy
            echo $GCLOUD_SQL_SERVICE_KEY > cloud_proxy.key
            wget https://dl.google.com/cloudsql/cloud_sql_proxy.linux.amd64 -O cloud_sql_proxy
            chmod +x cloud_sql_proxy
            sudo mkdir /cloudsql
            sudo chmod 777 /cloudsql
            ./cloud_sql_proxy -dir=/cloudsql -instances=baobab:us-central1:baobab -credential_file=cloud_proxy.key & # Run the cloud_sql_proxy
            # Run the migrations
            cd api
            pip install -r requirements.txt
            DATABASE_URL=$PROD_DB_PROXY python run.py db upgrade # Temporarily update the database url to the proxy and run migrations

  deploy-backend-test:
    machine: true
    steps:
      - checkout
      - run:
          name: Deploy backend to test
          command: |
            openssl aes256 -md md5 -d -in api/app.yaml.enc -out api/app.yaml -pass pass:$CONFIG_PASSWORD
            echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
            gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
            gcloud --quiet config set compute/zone ${GOOGLE_COMPUTE_ZONE}
            cd api
            rm Dockerfile # It doesn't like deploying to flex:python with Dockerfile
            gcloud app deploy

  deploy-backend-prod:
    machine: true
    steps:
      - checkout
      - run:
          name: Deploy backend to test
          command: |
            openssl aes256 -md md5 -d -in api/prod.yaml.enc -out api/prod.yaml -pass pass:$CONFIG_PASSWORD
            echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
            gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
            gcloud --quiet config set compute/zone ${GOOGLE_COMPUTE_ZONE}
            cd api
            rm Dockerfile # It doesn't like deploying to flex:python with Dockerfile
            gcloud app deploy prod.yaml

  deploy-test:
    machine: true
    steps:
      - checkout
      - run:
          name: Deploy to test
          command: |
            curl -o- -L https://yarnpkg.com/install.sh | sh
            export PATH=~/.yarn/bin:$PATH
            export NVM_DIR="/opt/circleci/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"
            nvm install v8.11.3 && nvm use v8.11.3 && nvm alias default v8.11.3
            node -v
            echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
            gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
            gcloud --quiet config set compute/zone ${GOOGLE_COMPUTE_ZONE}
            cd webapp
            yarn
            CI=false yarn build-test
            gcloud app deploy staging-app.yaml
  deploy-prod:
    machine: true
    steps:
      - checkout
      - run:
          name: Deploy to production
          command: |
            curl -o- -L https://yarnpkg.com/install.sh | sh
            export PATH=~/.yarn/bin:$PATH
            export NVM_DIR="/opt/circleci/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"
            nvm install v8.11.3 && nvm use v8.11.3 && nvm alias default v8.11.3
            node -v
            echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
            gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
            gcloud --quiet config set compute/zone ${GOOGLE_COMPUTE_ZONE}
            cd webapp
            yarn
            CI=false yarn build
            gcloud app deploy prod-app.yaml

workflows:
  build_and_test:
    jobs:
      - build
      - frontEndTests
      - migrate-test:
          filters:
            branches:
              only: develop
      - migrate-prod:
          filters:
            branches:
              only: master
      - deploy-backend-test:
          filters:
            branches:
              only: develop
      - deploy-backend-prod:
          filters:
            branches:
              only: master
      - deploy-test:
          filters:
            branches:
              only: develop
      - deploy-prod:
          filters:
            branches:
              only: master
