/* Application form */
.application-form-wrap .top-bar {
  background: white;
  border: none;
  border-bottom: thin #e6e6e6 solid;
  margin: 0;
  padding: 15px;
  height: 4em;
}

.application-form-wrap .top-bar .icon-title .title {
  font-size: 1.2rem;
}

.application-form-wrap .icon-title {
  float: left;
}

.application-form-wrap .form-icon {
  width: 40px;
  height: 40px;
}

.application-form-wrap .create-form-btn {
  float: right;
  border: none;
  background: #1f2d3e;
  border-radius: 5px;
  padding: 7px;
  color: #fff;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.application-form-wrap .create-form-btn:hover {
  cursor: pointer;
  background: #c9c7c7;
  color: #333;
}

.application-form-wrap .title {
  font-weight: bold;
  margin-left: 1em;
}

.application-form-wrap .icon {
  width: 1.7em;
  height: 2em;
}

.application-form-wrap .application-form-wrapper {
  width: 60%;
  margin-top: 1em;
}

.application-form-wrap .nominations-desc {
  padding: 1em;
}

.application-form-wrap .further-description {
  font-size: 0.7rem;
}

.application-form-wrap .nomination-chck {
  margin-right: 10px;
  width: 0.9em;
  height: 0.9em;
}

.application-form-wrap .dates {
  display: block;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 0.5em;
}

.application-form-wrap .dates-container {
  text-align: left;
  padding-left: 1em;
}

.application-form-wrap .date {
  font-weight: lighter;
  font-size: 0.9em;
  margin-left: 2em;
}

.application-form-wrap .add-section-icon:hover,
.application-form-wrap .add-section-icon:focus {
  color: #fff;
}

.application-form-wrap .add-section-btn {
  padding: 5px;
  margin-right: 2em;
  margin-top: 12em;
  border: solid thin #333;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #fff;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  outline: none;
  position: fixed;
  z-index: 1;
}

.application-form-wrap .answer-section-btn {
  margin-right: 1em;
}

.application-form-wrap .save-form-btn {
  padding: 5px;
  margin-right: 2em;
  margin-top: 16em;
  border: solid thin #333;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #fff;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  outline: none;
  position: fixed;
  z-index: 1;
}

.application-form-wrap .save-form-btn:hover {
  cursor: pointer;
  background-color: #333;
  color: #fff;
}

.prompt {
  background: red;
  color: black;
}

.application-form-wrap .add-section-btn:hover:after {
  content: attr(data-title);
  font-size: 0.7rem;
  font-family: Arial;
  position: absolute;
  padding: 0.1em 0.7em;
  border-radius: 5px;
  left: -10px;
  bottom: 5em;
  width: 7em;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  background-color: #333;
  color: #fff;
}

/* Section */

.application-form-wrap .section-wrapper {
  text-align: left;
  margin-top: 1em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.application-form-wrap .section-number {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  background: #1f2d3e;
  width: max-content;
  padding: 0.5em 1em;
}

.application-form-wrap .title-description {
  border-top: solid 0.5rem #1f2d3e;
  border-top-right-radius: 5px;
  padding: 1em;
  background: #fff;
  box-shadow: 0px 0.3em 5px 0px #e8e6e6;
}

.application-form-wrap .section-inputs,
.application-form-wrap .question-inputs {
  outline: none;
  border: none;
  border-bottom: solid #e8e6e6 thin;
  padding: 0;
  padding-bottom: 0.3em;
  width: 90%;
  margin-left: 0.2em;
}

.application-form-wrap .section-title {
  font-size: 1.8em;
  width: 85%;
}

.application-form-wrap .select-language {
  width: 20%;
  float: right;
  margin: 0 2em;
  box-shadow: none;
}

.application-form-wrap .title-desc-toggle {
  float: right;
  border: none;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #fff;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  outline: none;
}

.application-form-wrap .confirm-modal {
  top: 30%;
}

.application-form-wrap .title-desc-toggle:hover,
.application-form-wrap .title-desc-toggle:focus,
.application-form-wrap .add-section-btn:hover {
  background-color: #333;
  cursor: pointer;
}

.application-form-wrap .delete-section {
  display: block;
  width: 12em;
  background: #fff;
  border: none;
  text-align: left;
  padding: 0.5em;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.application-form-wrap .fa-section {
  margin-right: 0.5em;
}

.application-form-wrap .fa-duplicate {
  margin-right: 0.7em;
  margin-left: 0.5em;
}

.application-form-wrap .delete-section:hover,
.application-form-wrap .delete-section:hover,
.application-form-wrap .toogle-section-details-wrapper:hover,
.application-form-wrap .toogle-section-details:hover {
  background-color: rgb(168, 167, 167);
  cursor: pointer;
}

.application-form-wrap .dropdown-menu {
  transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
}

.application-form-wrap .section-desc,
.application-form-wrap .question-headline {
  /* margin-top: 0.5em; */
  padding-left: 0.2em;
  width: 100%;
}

.application-form-wrap .add-question-btn {
  border: solid thin #333;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #fff;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  outline: none;
  position: relative;
}

.application-form-wrap .add-question-btn:hover:after {
  content: attr(data-title);
  font-size: 0.7rem;
  font-family: Arial;
  position: absolute;
  padding: 0.1em 0.7em;
  border-radius: 5px;
  background-color: #333;
  left: -2.5em;
  bottom: 3.5em;
  width: 8em;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  color: white;
}

.application-form-wrap .add-question-btn:hover {
  background-color: #333;
  cursor: pointer;
}

.application-form-wrap .add-question-wrapper {
  text-align: end;
  padding: 0.5em 2em;
}

.application-form-wrap .arrow-wrapper {
  height: 1em;
}

.application-form-wrap .arrow-btn {
  width: 3em;
  border: none;
  background: none;
  float: right;
  margin-right: 2em;
}

.application-form-wrap .arrow-btn:hover {
  cursor: pointer;
}

.application-form-wrap .arrow-btns {
  border: solid #333;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.application-form-wrap .dependency-wrapper {
  margin-top: 0.5em;
}

.application-form-wrap .select-dependency {
  width: 30%;
  margin-right: 2em;
  display: inline-block;
}

.application-form-wrap .select-question {
  width: 85%;
  display: inline-table;
}

.application-form-wrap .toogle-section-details {
  width: 1em;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  outline: none;
  margin: 0 auto;
  background-color: #fff;
}

.application-form-wrap .toogle-section-details-wrapper {
  display: flex;
  float: right;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  padding: 5px;
  margin-bottom: 1em;
  background-color: #fff;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  outline: none;
}

.application-form-wrap .section-header {
  position: relative;
}

.application-form-wrap .fa-hide-show-details {
  display: block;
  position: relative;
  margin: 0 auto;
  margin: 0;
  padding: 0;
}

.application-form-wrap .dependency-radio-wrapper {
  margin-top: 0.2em;
  margin-right: 0.5em;
  display: inline-block;
}

.application-form-wrap .single-choice-check {
  margin-right: 0.5em;
}

.application-form-wrap .dependency-options-wrapper {
  display: inline-block;
  margin-right: 1em;
}

.application-form-wrap .question-header {
  position: relative;
}

.application-form-wrap .tooltiptext-error {
  position: absolute;
  background-color: #fff;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  color: rgb(139, 15, 15);
  font-size: 0.8em;
  left: 65%;
  top: -1.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 5px;
  z-index: 1;
}

.response-error {
  color: rgb(139, 15, 15);
}

.application-form-wrap .tooltiptext {
  position: absolute;
  visibility: hidden;
  background-color: gray;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  color: #fff;
  font-size: 0.8em;
  left: 50%;
  top: -1em;
  font-size: 0.8rem;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 5px;
  z-index: 1;
}

.application-form-wrap .key-wrapper {
  position: relative;
  margin-top: 1em;
}

.application-form-wrap .key-headline {
  margin-top: 1em;
}

.application-form-wrap .label-input-wrapper {
  margin-top: 0.7em;
}

.application-form-wrap .form-label {
  font-size: 0.8rem;
  margin-left: 0.5em;
  color: gray;
}

.key-wrapper:hover .tooltiptext {
  visibility: visible;
}

/* Question */

.application-form-wrap .headline-description {
  border-top-right-radius: 5px;
  padding: 1em;
  background: #fff;
  border: solid thin #ecebeb;
  border-radius: 5px;
  height: fit-content;
}

.application-form-wrap .question-title {
  font-size: 1em;
  font-weight: bolder;
  width: 57%;
  background: #ecebeb;
  padding: 0.5em;
  border-radius: 5px;
}

.application-form-wrap .move-btns-wrapper {
  display: inline-table;
  margin: 0;
  margin-top: 0.2em;
  padding: 0;
  float: right;
}

.move-btns-wrapper .move-btn {
  border: none;
  border-radius: 50%;
  background: #fff;
  width: 2em;
  height: 2em;
  margin-left: 0.5em;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  position: relative;
}

.move-btns-wrapper .move-btn:hover {
  background: rgb(168, 167, 167);
  cursor: pointer;
}

.move-btns-wrapper .move-btn:hover:after {
  content: attr(data-title);
  font-size: 0.6rem;
  font-family: Arial;
  position: absolute;
  border-radius: 5px;
  left: -1.2em;
  bottom: 5em;
  width: 6em;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  background-color: gray;
  color: white;
}

.application-form-wrap .action-btns {
  padding: 0.5em;
  padding-bottom: 0;
  display: inline-block;
  align-items: flex-end;
  border-top: solid thin #ecebeb;
  margin-top: 1em;
  width: 92%;
}

.application-form-wrap .fa-question-toogle {
  color: gray;
}

.application-form-wrap .fa-validation {
  color: gray;
  margin-right: 1em;
}

.toggle-questions {
  display: inline-block;
  margin-top: 1.5em;
}

.application-form-wrap .select-form {
  width: 28%;
  display: inline-table;
  margin: 0 1em;
  box-shadow: none;
}

.application-form-wrap .require-chckbox {
  border-left: solid thin #ecebeb;
  padding: 0 1em;
  padding-top: 0.7em;
  margin-left: 1em;
  padding-right: 0;
}

.application-form-wrap .require-check {
  margin-right: 0.5em;
}

.application-form-wrap .option-inputs {
  padding: 0.7em;
  border: solid thin #ecebeb;
  border-radius: 5px;
}

.application-form-wrap .options-table {
  background: "#fff";
}

.application-form-wrap .dropdown-text {
  width: 2.5em;
  display: inline-table;
}
.application-form-wrap .fa-color,
.fa-move {
  color: grey;
}

.application-form-wrap .delete-qstion {
  width: 3em;
  height: 3em;
  border: none;
  padding: 0.5em;
  background: #fff;
  border-radius: 50%;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  position: relative;
}

.application-form-wrap .delete-qstion:hover,
.application-form-wrap .delete-qstion:hover,
.application-form-wrap .toggle-questions:hover,
.application-form-wrap .toggle-questions:focus {
  background-color: rgb(168, 167, 167);
  cursor: pointer;
}

.application-form-wrap .duplicate-qstion {
  margin-right: 5px;
}

.application-form-wrap .delete-qstion:hover:after {
  content: attr(data-title);
  font-size: 0.7rem;
  font-family: Arial;
  position: absolute;
  padding: 0.1em 0.7em;
  border-radius: 5px;
  left: 0;
  top: 5em;
  width: fit-content;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  background-color: gray;
  color: white;
}

.application-form-wrap .question-footer {
  margin-left: auto;
  display: flex;
  float: right;
}

.application-form-wrap .options {
  margin: 1em;
}

.application-form-wrap .delete-row {
  position: relative;
  color: rgb(139, 15, 15);
  margin-left: 0.5em;
}

.application-form-wrap .delete-row:hover:after {
  content: attr(data-title);
  font-size: 0.7rem;
  font-family: Arial;
  position: absolute;
  padding: 0.1em 0.7em;
  border-radius: 5px;
  left: 0;
  bottom: 2em;
  width: fit-content;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  background-color: gray;
  color: white;
}

.application-form-wrap .add-row {
  color: #28a745;
}

.application-form-wrap .fa-table-btns {
  position: relative;
  margin-left: 0.5em;
}

.application-form-wrap .fa-table-btns:hover:after {
  content: attr(data-title);
  font-size: 0.7rem;
  font-family: Arial;
  position: absolute;
  padding: 0.1em 0.7em;
  border-radius: 5px;
  left: 0;
  bottom: 2em;
  width: fit-content;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  background-color: gray;
  color: white;
}

.application-form-wrap .options-row {
  background: white;
}

.application-form-wrap .regex-label {
  font-size: 0.8rem;
  margin-right: 1em;
}

.application-form-wrap .select-validation {
  width: 20%;
  font-size: 0.8rem;
  padding: 0;
}

.application-form-wrap .validation-wrapper {
  margin: 1em auto;
}

.application-form-wrap .validaion-input {
  border: none;
  border-bottom: solid #e8e6e6 thin;
  box-shadow: 0px 0.3em 5px 0px #e8e6e6;
  padding: 10px;
  width: 5em;
  margin-right: 1em;
  font-size: 0.8rem;
  outline: none;
}

.application-form-wrap .validaion-text {
  box-shadow: 0px 0.3em 5px 0px #e8e6e6;
  border: solid #e8e6e6 thin;
  padding: 10px;
  font-size: 0.8rem;
  width: 20em;
}

.application-form-wrap .advanced-regex {
  width: 10em;
}

.application-form-wrap .check-icon {
  min-width: 10px;
  padding: 10px;
}

.application-form-wrap .error-label {
  font-size: 0.8em;
  color: rgba(219, 122, 141, 0.932);
  margin-left: 3em;
}

.application-form-wrap .referals-input {
  width: 20em;
  border: none;
  border-bottom: solid #e8e6e6 thin;
  box-shadow: 0px 0.3em 5px 0px #e8e6e6;
  padding: 10px;
  margin-right: 2em;
  outline: none;
}

.application-form-wrap .referals-wrapper {
  margin: 1em auto;
}

.application-form-wrap .extensions-wrapper {
  margin-top: 1em;
}

.application-form-wrap .min-wrapper {
  margin-top: 0.5em;
  display: inline-block;
}

.application-form-wrap .validation-label {
  display: block;
  font-size: 0.8em;
  padding-left: 1em;
}

.application-form-wrap .referalls-label {
  font-size: 1em;
  padding-left: 0.8em;
}

.application-form-wrap .extension-label {
  padding-left: 0.5em;
}

.application-form-wrap .false-radio {
  margin-left: 1em;
}

.application-form-wrap .review-stage-label {
  font-weight: bold;
}

.application-form-wrap .review-stage-btns {
  margin-top: 0.5em;
}

.application-form-wrap .review-stage-wrapper {
  margin-top: 1em;
  margin-bottom: 2em;
}

.application-form-wrap .stage-btn {
  border: thin solid #333;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  margin-right: 1em;
  margin-bottom: 1em;
}
.application-form-wrap .add-stage-btn {
  float: right;
  border-radius: 50%;
  border: none;
  background: #333;
  color: white;
  padding: 5px 10px;
  display: inline;
  position: absolute;
}

.application-form-wrap .add-stage-btn:hover:after {
  content: attr(data-title);
  font-size: 0.7rem;
  font-family: Arial;
  position: absolute;
  padding: 0.2em 0.7em;
  border-radius: 5px;
  background-color: #333;
  left: -3em;
  bottom: 3.5em;
  width: 9em;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  color: white;
}

.application-form-wrap .review-stages {
  width: 780px;
  display: inline-table;
}
