/* Application form */
.application-form-wrap .top-bar {
  background: white;
  border: none;
  border-bottom: thin #e6e6e6 solid;
  margin: 0;
  padding: 10px;
  height: 4em;
}

.application-form-wrap .icon-title {
  float: left;
}

.application-form-wrap .form-icon {
  width: 40px;
  height: 40px;
}

.application-form-wrap .create-form-btn {
  float: right;
  border: none;
  background: #1f2d3e;
  border-radius: 5px;
  padding: 7px;
  color: #fff;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.application-form-wrap .create-form-btn:hover,
.application-form-wrap .create-form-btn:focus {
  cursor: pointer;
  background: #c9c7c7;
  color: #333;
}

.application-form-wrap .title {
  font-weight: bold;
  margin-left: 1em;
}

.application-form-wrap .icon {
  width: 1.7em;
  height: 2em;
}

.application-form-wrap .application-form-wrapper {
  width: 60%;
  margin-top: 1em;
}

.application-form-wrap .nominations-desc {
  padding: 1em;
}

.application-form-wrap .further-description {
  font-size: 0.7rem;
}

.application-form-wrap .nomination-chck {
  margin-right: 10px;
  width: 0.9em;
  height: 0.9em;
}

.application-form-wrap .dates {
  display: block;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 0.5em;
}

.application-form-wrap .dates-container {
  text-align: left;
  padding-left: 1em;
  
}

.application-form-wrap .date {
  font-weight: lighter;
  font-size: 0.9em;
  margin-left: 2em;
}
.application-form-wrap .add-section-icon:hover,
.application-form-wrap .add-section-icon:focus {
  color: #fff;
  /* background: grey; */
}
.application-form-wrap .add-section-btn {
  /* float: right; */
  padding: 5px;
  margin-right: 2em;
  margin-top: 12em;
  /* margin-bottom: 3em; */
  border: solid thin #333;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #fff; 
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  outline: none;
  position: fixed;
  z-index: 1;
}

.application-form-wrap .add-section-btn:hover:after {
  content: attr(data-title);
  font-size: 0.7rem;
  font-family: Arial;
  position: absolute;
  padding: 0.1em 0.7em;
  border-radius: 5px;
  left: -10px;
  bottom: 5em;
  width: 7em;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  background-color: #333;
  color: #fff;
}
/* Section */

.application-form-wrap .section-wrapper {
  text-align: left;
  margin-top: 1em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.application-form-wrap .section-number {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  background: #1f2d3e;
  width: max-content;
  padding: 0.5em 1em;
}

.application-form-wrap .title-description {
  border-top: solid 0.5rem #1f2d3e;
  border-top-right-radius: 5px;
  padding: 1em;
  background: #fff;
  box-shadow: 0px 0.3em 5px 0px #e8e6e6;
}

.application-form-wrap .section-inputs,
.application-form-wrap .question-inputs {
  outline: none;
  border: none;
  border-bottom: solid #e8e6e6 thin;
  padding: 0;
  padding-bottom: 0.3em;
  width: 90%;
}

.application-form-wrap .section-title {
  font-size: 1.8em;
}

.application-form-wrap .title-desc-toggle {
  float: right;
  border: none;
  padding: 5px;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #fff;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  outline: none;
}

.application-form-wrap .title-desc-toggle:hover,
.application-form-wrap .title-desc-toggle:focus,
.application-form-wrap .add-section-btn:hover,
.application-form-wrap .add-section-btn:focus {
  background-color: #333;
  cursor: pointer;
}

.application-form-wrap .delete-section {
  display: block;
  width: 10em;
  background: #fff;
  border: none;
  text-align: left;
  padding: 0.5em;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.application-form-wrap .delete-section:hover,
.application-form-wrap .delete-section:hover {
  background-color: rgb(168, 167, 167);
  cursor: pointer;
}

.application-form-wrap .dropdown-menu {
  transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
}

.application-form-wrap .section-desc,
.application-form-wrap .question-headline {
  margin-top: 0.5em;
  width: 100%;
}

.application-form-wrap .add-question-btn {
  border: solid thin #333;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #fff; 
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  outline: none;
  position: relative;
}

.application-form-wrap .add-question-btn:hover:after { 
  content: attr(data-title);
  font-size: 0.7rem;
  font-family: Arial;
  position: absolute;
  padding: 0.1em 0.7em;
  border-radius: 5px;
  background-color: #333;
  left: -2.5em;
  bottom: 3.5em;
  width: 8em;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  color: white;
}


.application-form-wrap .add-question-btn:hover {
  background-color: #333;
  cursor: pointer;
}

.add-question-wrapper {
  text-align: end;
  padding: 0.5em 2em;
}


/* Question */

.application-form-wrap .headline-description {
  border-top-right-radius: 5px;
  padding: 1em;
  background: #fff;
  border: solid thin #ecebeb;
  border-radius: 5px;
  height: fit-content;
}

.application-form-wrap .question-title {
  font-size: 1em;
  font-weight: bolder;
  max-width: 60%;
  background: #ecebeb;
  padding: 0.5em;
  border-radius: 5px;
}

.application-form-wrap .action-btns {
  padding: 0.5em;
  padding-bottom: 0;
  display: flex;
  align-items: flex-end;
  border-top: solid thin #ecebeb;
  margin-top: 1em; 
}

.application-form-wrap .select-form {
  width: 30%;
  display: inline-table;
  margin: 0 1em;
  box-shadow: none;
}

.application-form-wrap .require-chckbox {
  border-left: solid thin #ecebeb;
  padding: 0 1em;
  padding-top: 0.7em;
  margin-left: 1em;
}

.application-form-wrap .require-check {
  margin-right: 0.5em;
}

.application-form-wrap .option-inputs {
  padding: 0.7em;
  border: solid thin #ecebeb;
  border-radius: 5px;
}

.application-form-wrap .options-table {
  background: '#fff';
}

.application-form-wrap .dropdown-text {
  width: 2.5em;
  display: inline-table 
}
.application-form-wrap .fa-color {
  color: grey;
}

.application-form-wrap .delete-qstion {
  width: 3em;
  height: 3em;
  border: none;
  padding: 0.5em;
  background: #fff;
  border-radius: 50%;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  position: relative;

}

.application-form-wrap .delete-qstion:hover,
.application-form-wrap .delete-qstion:hover {
  background-color: rgb(168, 167, 167);
  cursor: pointer;
}

.application-form-wrap .duplicate-qstion {
  margin-right: 5px;
}

.application-form-wrap .delete-qstion:hover:after { 
  content: attr(data-title);
  font-size: 0.7rem;
  font-family: Arial;
  position: absolute;
  padding: 0.1em 0.7em;
  border-radius: 5px;
  left: 0;
  top: 5em;
  width: fit-content;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  background-color: gray;
  color: white;
}

.application-form-wrap .question-footer {
  margin-left: auto;
  display: flex;
}

.application-form-wrap .options {
  margin: 1em;
}

.application-form-wrap .delete-row {
  position: relative;
  color: rgb(139, 15, 15);
  margin-left: 0.5em;
}

.application-form-wrap .delete-row:hover:after { 
  content: attr(data-title);
  font-size: 0.7rem;
  font-family: Arial;
  position: absolute;
  padding: 0.1em 0.7em;
  border-radius: 5px;
  left: 0;
  bottom: 2em;
  width: fit-content;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  background-color: gray;
  color: white;
}

.application-form-wrap .add-row {
  color: #28a745;
}

.application-form-wrap .fa-table-btns {
  position: relative;
  margin-left: 0.5em;
}

.application-form-wrap .fa-table-btns:hover:after { 
  content: attr(data-title);
  font-size: 0.7rem;
  font-family: Arial;
  position: absolute;
  padding: 0.1em 0.7em;
  border-radius: 5px;
  left: 0;
  bottom: 2em;
  width: fit-content;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  background-color: gray;
  color: white;
}