.container{
    text-align: left;
}


.question-list{
height: 0px;
opacity: 0;
z-index: -10;
transition: 300ms;
}

.question-list.show{
    height: 300px;
    opacity: 1;
    z-index: 0;
    transition: 300ms;
    overflow: scroll
    }

    /* React Table */
    .container #ReactTable .rt-tbody .rt-td {
        max-width: 200px !important;
        min-width: 100px !important;
    }
