.label-top {
    color: grey;
    font-size: 17px;
}

.lists-wrapper .btn {
    margin-right: 5px;
}


/* Drop Down Lists Wrapper and Buttons */
.lists-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* Pills */
.pills {
    display: flex;
    min-width: 1%;
}

.badge {
    margin: 0 5px;
    padding: 4px 6px;
}

.badge:hover {
    cursor: pointer;
}

.pills i {
    padding: 0 3px;
}


/* Tags */

.tags {
    min-width: 1px;
}

.tag-list {  
    min-width: 1px;
    height: 1px; 
    opacity: 0;
    margin-left: 0;
    transition: 300ms;
    pointer-events: none;
    overflow: scroll;
}

.tag-list.show {
    height: 240px;
    opacity: 1;
    margin-right: 15px;
    transition: 300ms;
}

.tag-item {
    display: flex;
    margin: 5px 0;
    opacity: 1;
    pointer-events: none;
}

.tag-list.show .tag-item{
    pointer-events: all;
}

.tag-item.hide {
    display: flex;
    margin: 5px 0;
    color: lightgrey;
    display: none;
}

.btn.tag {
    background: none;
    border: 1px solid grey;
    pointer-events: all;
    opacity: 1;
}

.btn.tag.hide {
    background: none;
    pointer-events: none;
    opacity: 0.5;
}

.btn.tags {
    background: hsl(0deg, 0%, 91%);
    margin: 0;
    font-size: 12px;
    width: 15%;
    text-align: left;
}


/*Questions*/

.question-wrapper {
    text-align: left;
    width: 40vw;
    transition: 300ms;
}

.question-wrapper.wide {
    text-align: left;
    width: 87vw;
    transition: 300ms;
}

.question-wrapper .heading {
    color: grey;
    font-weight: 300;
    margin-top: 30px;
    transition: 300ms;
}

.question-wrapper .heading.short {
    color: grey;
    font-weight: 300;
    margin-top: 2px;
    transition: 300ms;
}

.btn-secondary {
    opacity: 1;
    pointer-events: all;
    }

   
.btn-secondary.hide {
    opacity: 0.5;
    pointer-events: none;
}

html .btn-update {
    background:hsl(214deg, 98%, 65%);
}


html .btn-primary.green {
    background: hsl(120, 58%, 42%);
    border: darkgreen;
    color: white;
    }

    .btn.reset:hover{
      background: hsl(0, 0%, 91%);
      border: 1px solid lightgrey;
    }

/* Inputs */

#label {
    margin-left: 20px;
}

.question-item #label {
    margin-left: 20px;
}

.form-check-input.input {
    margin-left: 2px;
}

.form-check-label {
    display: block;
}

.total-q {
    color: grey;
}

.questions-item {
    display: flex;
    width: 30%;
    opacity: 1;
    pointer-events: all;
}

.questions-item.hide {
    display: flex;
    width: 30%;
    opacity: 0.5;
    pointer-events: none;
}


.question-list {
    height: 0px;
    opacity: 0;
    z-index: -10;
    margin: 10px 0;
    transition: 300ms;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    pointer-events: none;
}

.question-list.show {
    height: 240px;
    opacity: 1;
    z-index: 0;
    transition: 300ms;
    pointer-events: all;
}

/* React Table */

.react-table {
    text-align: left;
    width: 88vw;
    display: flex;
    justify-content: center;
}

.ReactTable {
    width: 100%;
    max-height: 66vh
}

.Tooltip {
    width: 35vw;
    word-break: break-all;
    overflow-wrap: break-word;
    display: block;
}


html .ReactTable .myCol {
    max-width: 300px;
    white-space: normal;
    max-height: 200px;
    overflow: scroll;
    margin-bottom: 10px
}

html .table-nav-link {
    color: hsl(214deg 4% 32%);
    background: hsl(0deg 0% 93%);
    padding: 3px 17px;
    border-radius: 4px;
}

.pills.table .btn-primary {
    background: rgb(243, 243, 243);
    color: black;
    margin: 1px;
}

html .pills.table {
    margin-bottom: 0;
}

.review-assign-container {
    text-align: center;
    width: 88vw;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 5em;
}

.assign-button {
    margin-left: 1em;
    margin-top: 5px;
}