.question-wrapper {
    text-align: left;
    width: 40vw;
    transition: 300ms;
}

.question-wrapper.wide {
    text-align: left;
    width: 87vw;
    transition: 300ms;
}

.question-wrapper .heading {
    color: grey;
    font-weight: 300;
    margin-top: 30px;
    transition: 300ms;
}

.question-wrapper .heading.short {
    color: grey;
    font-weight: 300;
    margin-top: 2px;
    transition: 300ms;
}


.questions .btn-primary.green {
    background: hsl(120, 58%, 42%);
    border: darkgreen;
    color: white;
    }

    .questions .btn-update {
        background:white;
        border: 1px solid lightgrey;
        color: grey;

    }


/* Inputs */

#label {
    margin-left: 20px;
}

.question-item #label {
    margin-left: 20px;
}

.form-check-input.input {
    margin-left: 2px;
}

.form-check-label {
    display: block;
}

.label-top {
    color: grey;
    font-size: 20px;
}

.questions {
    margin: 10px 0;
}

.total-q {
    color: grey;
}

.questions-item {
    display: flex;
    align-items: center;
    width: 30%;
}

.question-list {
    height: 0px;
    opacity: 0;
    z-index: -10;
    margin: 10px 0;
    transition: 300ms;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
}

.question-list.show {
    height: 240px;
    opacity: 1;
    z-index: 0;
    transition: 300ms;
}

/* React Table */

.react-table {
    text-align: left;
    width: 88vw;
    display: flex;
    justify-content: center;
}

.ReactTable {
    width: 100%;
    max-height: 66vh
}

.Tooltip {
    width: 35vw;
    word-break: break-all;
    overflow-wrap: break-word;
    display: block;
}


html .ReactTable .myCol {
    max-width: 300px;
    white-space: normal;
    max-height: 200px;
    overflow: scroll;
    margin-bottom: 10px
}

html .table-nav-link {
    color: hsl(214deg 4% 32%);
    background: hsl(0deg 0% 93%);
    padding: 3px 17px;
    border-radius: 4px;
}



