@media all and (min-width: 480px) {
    .ResetPassword {
      padding: 60px 0;
    }

    .ResetPassword form {
      margin: 0 auto;
      max-width: 320px;
    }
}

.reset-status {
  padding-top: 3em;
}

.alert-container{
  margin-top: 16px;
}