.react-datetime-picker__wrapper {
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.body {
  padding-top: 0em;
}

/* Date Pickers Section */
.date-picker-section {
  display: flex;
  flex-wrap: wrap;
}

.date-item {
  display: flex;
}

