/* Universal */
.event-config-wrapper input[type='checkbox'] {
  margin: 0 5px 0 0;
}


.event-config-wrapper .react-datetime-picker__wrapper {
  min-width: 200px;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: hsl(210, 9%, 31%);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.event-config-wrapper .body {
  padding-top: 0em;
}

.event-config-wrapper .col-form-label {
  font-size: 19px;
}

/* Edit Mode */

/* Form Fields */

.event-config-wrapper .export-btn-wrapper {
display: flex;
justify-content: flex-end;
margin: 15px;
}

.event-config-wrapper .MuiButtonBase-root {
  color: hsla(0, 0%, 100%, 0.87);
  background-color: hsl(213deg, 34%, 32%);
}



html .event-config-wrapper .badge {
  margin: 12px;
  font-size: 13px;
}

html .event-config-wrapper .form-group {
  margin-bottom: 2em;
}

.event-config-wrapper .col-sm-10.flex {
  display: flex;
  align-items: center;
  color: grey;
}

html .event-config-wrapper .MuiGrid-justify-xs-space-around {
  justify-content: flex-start;
}

html .event-config-wrapper .MuiFormControl-root.MuiTextField-root {
  width: 15%;
}


/* Date Pickers Section */
.event-config-wrapper .date-picker-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  font-family: 'Open Sans', sans-serif;
  padding-left: 0;
}

.event-config-wrapper .date-picker-section .col-md-5 {
  padding-bottom: 2%;
}

.event-config-wrapper .date-item {
  margin: 2% 1% 1% 0;
  padding: 1% 1% 2% 1%;

}

.event-config-wrapper .date-item p {
  text-align: left;
  margin: 0 10px;
}

.first-col {
  border: 1px solid hsl(204deg, 14%, 93%);
  margin: 0 10px 0 0;
  border-radius: 4px;
  padding: 20px;
  margin: 1%;
}

.second-col {
  background: hsl(210deg, 20%, 98%);
  border-radius: 4px;
  padding: 20px;
  margin: 1%;
}

.event-config-wrapper .date-item:hover {
  background: hsl(0, 0%, 98%);
}

.event-config-wrapper .date-item:hover p {
  color: hsl(218, 24%, 57%);
  font-size: 16px;
}

.event-config-wrapper .date-item label {
  color: grey;
  font-size: 10px;
}

.event-config-wrapper .date-item-sections {
  display: flex;
  padding: 10px 0;
}

.event-config-wrapper .date-picker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 10px;
}

/* Handle Submit and Cancel Section */
.event-config-wrapper .submit {
  padding-left: 10px;
  display: flex;
}

.event-config-wrapper .submit .col-sm-4 {
  padding: 0;
  margin: 0 10px 0 0;
}


.event-config-wrapper .submit .btn-success {
  background: hsl(131deg, 47%, 76%);
  color: hsl(132, 18%, 29%);
  border: none;
}

.event-config-wrapper .submit .btn-danger {
  background: hsl(6, 64%, 87%);
  color: hsl(0, 50%, 30%);
  border: none;
}

/* Create Event */


.create-event-wrapper .text-area {
  margin: 5px 0;
}

.create-event-wrapper label {
  font-size: 19px;
  padding-top: 0;
}

.create-event-wrapper .submit .col-sm-4 {
  padding-left: 0;
  margin: 15px 0;
}

.create-event-wrapper .submit .btn-success {
  background: hsl(131deg, 47%, 76%);
  color: hsl(132, 18%, 29%);
  border: none;
}

.create-event-wrapper .submit .btn-danger {
  background: hsl(6, 64%, 87%);
  color: hsl(0, 50%, 30%);
  border: none;
}

.create-event-wrapper .export-btn-wrapper {
  display: flex;
  margin: 20px 15px 60px 15px;
  }


  .MuiButtonBase-root-wrapper {
    display: flex;
    justify-content: flex-start;
    margin: 5px 0;
  }
  
  .create-event-wrapper .MuiButtonBase-root {
    color: hsla(0, 0%, 100%, 0.87);
    background-color: hsl(213deg, 34%, 32%);
    padding: 11px;
  }

  html .create-event-wrapper input#file-upload-button {
    padding: 10px 50px;
  }