@media (max-width: 650px) {
    img.large-logo {
        max-width: 80%;
    }
}

img.large-logo {
    margin-bottom: 2em;
    max-width: 80%;
    max-height: 250px;
}

table.event-table {
    border-collapse: separate;
    border-spacing: 50px 0;
}

table.event-table td {
    padding: 10px 0;
}

table.event-table tbody {
    background-color: transparent;
}

.event-table-container {
    width: 90%;
}

/* Create Event Button */

.create-event-btn-wrapper {
   width: 90%;
}

.create-event-btn-wrapper .card {
    margin-top: 15px;
    transition: 300ms;
    padding: 10px 20px;
}

.create-event-btn-wrapper button {
    font-size: 20px;
    color: grey;
    background: none;
    border: none;
    outline: none;
}

.create-event-btn-wrapper .content {
    display: flex;
}

/* Event Key Modal */

.event-key-link {
    color: white;
    background: hsl(208deg, 97%, 54%);
    border-radius: 5px;
    padding: 7px 15px;
    margin-bottom: 10px;
}
