@media (max-width: 650px) {
    img.large-logo {
        max-width: 80%;
    }
}

img.large-logo {
    margin-bottom: 2em;
    max-width: 80%;
    max-height: 250px;
}

table.event-table {
    border-collapse: separate;
    border-spacing: 50px 0;
}

table.event-table td {
    padding: 10px 0;
}

table.event-table tbody {
    background-color: transparent;
}

.event-table-container {
    width: 90%;
}

html .event-table-container .btn a {
color: white;
}


