.event-stats {
    padding-top: 3em;
}

.event-action {
    margin: 1em;
}

.event-stats h1, .event-stats h3 {
    font-weight: bold;
    margin-bottom: 0;
}

.event-stats h1 {
    font-size: 3rem;
    
}

.event-stats .stats-description {
    font-size: 0.8em;
}

.event-stats h1 +  .stats-description {
    margin-top: -0.4em;
}

.event-stats .card {
    margin-top: 0;
    padding: 1em;
}

.event-stats .stats-title .badge {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    font-size: .6em;
}

.event-stats .stats-title {
    font-size: 1.3em;
    position: relative;
}

.event-stats .coming-soon {
    font-size: 3em;
    color: rgba(0, 0, 0, 0.2);
    line-height: 1.2em;
}