.pull-right{
    float:right;
}
.padding-v-15{
    padding-top: 15px;
    padding-bottom: 15px;
}
.display-none{
    display: none;
}

.form-label {
    margin-bottom: 0;
}

.registration-question {
    text-align: left;
    margin-bottom: 1em;
}

.registration-section-description {
    white-space: pre-wrap;
}