
.application-list {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .application-list h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #333;
  }
  
  .application-list_items {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .application-list_item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
  }
  
  .application-list_item:hover {
    transform: translateY(-3px);
  }
  
  .application-list_link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
    transition: color 0.3s ease;
  }
  
  .application-list_link:hover {
    color: #007BFF;
  }
  
  .shift_button{
    margin-left: 30px;
  }
  