@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
}

.reset-password-container {
  margin: 10px;
}

.forgot-password {
  margin-top: 1.5em;
}

.alert-container{
  margin-top: 16px;
}