/* Application form */
.top-bar {
  background: white;
  border: none;
  border-bottom: thin #e6e6e6 solid;
  margin: 0;
  padding: 10px;
  height: 4em;
}

.icon-title {
  float: left;
}

.form-icon {
  width: 40px;
  height: 40px;
}

.create-form-btn {
  float: right;
  border: none;
  background: #1f2d3e;
  border-radius: 5px;
  padding: 7px;
  color: #fff;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.create-form-btn:hover, .create-form-btn:focus {
  cursor: pointer;
  background: #c9c7c7;
  color: #333;
}

.title {
  font-weight: bold;
  margin-left: 1em;
}

.icon {
  width: 1.7em;
  height: 2em;
}

.application-form-wrapper {
  width: 60%;
  margin-top: 1em;
}

.nominations-desc {
  padding: 1em;
}

.further-description {
  font-size: 0.7rem;
}

.nomination-chck {
  margin-right: 10px;
  width: 0.9em;
  height: 0.9em;
}

.dates {
  display: block;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 0.5em;
}

.dates-container {
  text-align: left;
  padding-left: 1em;
  
}

.date {
  font-weight: lighter;
  font-size: 0.9em;
  margin-left: 2em;
}
/* Section */

.section-wrapper {
  text-align: left;
  margin-top: 1em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.section-number {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  background: #1f2d3e;
  width: max-content;
  padding: 0.5em 1em;
}

.title-description {
  border-top: solid 0.5rem #1f2d3e;
  border-top-right-radius: 5px;
  padding: 1em;
  background: #fff;
  box-shadow: 0px 0.3em 5px 0px #e8e6e6;
}

.section-inputs {
  outline: none;
  border: none;
  border-bottom: solid #e8e6e6 thin;
  padding: 0;
  padding-bottom: 0.3em;
  width: 90%;
}

.section-title {
  font-size: 1.8em;
}

.title-desc-toggle {
  float: right;
  border: none;
  padding: 5px;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #fff;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  outline: none;
}

.title-desc-toggle:hover, .title-desc-toggle:focus {
  background-color: #333;
  cursor: pointer;
}

.delete-section {
  display: block;
  width: 10em;
  background: #fff;
  border: none;
  text-align: left;
  padding: 0.5em;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.delete-section:hover, .delete-section:hover {
  background-color: rgb(168, 167, 167);
  cursor: pointer;
}

.dropdown-menu {
  transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
}

.section-desc {
  margin-top: 0.5em;
  width: 100%;
}


/* Question */

.headline-description {
  border-top-right-radius: 5px;
  padding: 1em;
  background: #fff;
  border: solid thin #ecebeb;
  border-radius: 5px;
  height: fit-content;
}

.question-title {
  font-size: 1em;
  font-weight: bolder;
  max-width: 60%;
  background: #ecebeb;
  padding: 0.5em;
  border-radius: 5px;
}

.action-btns {
  padding: 0.5em;
  padding-bottom: 0;
  display: flex;
  align-items: flex-end;
  border-top: solid thin #ecebeb;
  margin-top: 1em; 
}

.select-form {
  width: 30%;
  display: inline-table;
  margin: 0 1em;
  box-shadow: none;
}

.require-chckbox {
  border-left: solid thin #ecebeb;
  padding: 0 1em;
  padding-top: 0.7em;
  margin-left: 1em;
}

.require-check {
  margin-right: 0.5em;
}

.option-inputs {
  padding: 0.7em;
  border: solid thin #ecebeb;
  border-radius: 5px;
}

.options-table {
  background: '#fff';
}

.dropdown-text {
  width: 2.5em;
  display: inline-table 
}
.fa-color {
  color: grey;
}

.delete-qstion {
  width: 3em;
  height: 3em;
  border: none;
  padding: 0.5em;
  background: #fff;
  border-radius: 50%;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  position: relative;

}

.delete-qstion:hover, .delete-qstion:hover {
  background-color: rgb(168, 167, 167);
  cursor: pointer;
}

.duplicate-qstion {
  margin-right: 5px;
}

.delete-qstion:hover:after { 
  content: attr(data-title);
  font-size: 0.7rem;
  font-family: Arial;
  position: absolute;
  padding: 0.1em 0.7em;
  border-radius: 5px;
  left: 0;
  top: 5em;
  width: fit-content;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  background-color: gray;
  color: white;
}

.question-footer {
  margin-left: auto;
  display: flex;
}

.options {
  margin: 1em;
}

.delete-row {
  position: relative;
  color: rgb(139, 15, 15);
  margin-left: 0.5em;
}

.delete-row:hover:after { 
  content: attr(data-title);
  font-size: 0.7rem;
  font-family: Arial;
  position: absolute;
  padding: 0.1em 0.7em;
  border-radius: 5px;
  left: 0;
  bottom: 2em;
  width: fit-content;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  background-color: gray;
  color: white;
}

.add-row {
  color: #28a745;
}

.fa-table-btns {
  position: relative;
  margin-left: 0.5em;
}

.fa-table-btns:hover:after { 
  content: attr(data-title);
  font-size: 0.7rem;
  font-family: Arial;
  position: absolute;
  padding: 0.1em 0.7em;
  border-radius: 5px;
  left: 0;
  bottom: 2em;
  width: fit-content;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  background-color: gray;
  color: white;
}