.review-form-container .question {
    margin-top: 2em;
}

.review-form-container .question.information {
    padding: 2%;
    background: #eee;
    box-shadow: 1px 2px 6px hsl(0, 0%, 53%);
    border-radius: 4px;
}

.review-form-container {
    padding-left: 3em;
    padding-right: 3em;
    text-align: left;
}

.review-form-container p {
    white-space: pre-wrap;
}

.review-form-container .form-group {
    text-align: left;
}

.review-form-container .form-group .rowC p {
    text-align: left;
}

.buttons {
    margin-top: 3em;
}

.form-check.is-invalid~.invalid-feedback {
    display: block;
}

.complete-title {
    font-weight: bold;   
}

.hidden {
    visibility: hidden;
}

.flag-category {
    display: inline-block;
    color: darkred;
    margin-top: -5px;
}

.review-total-score {
    margin-left: 12px;
    font-weight: bold;
}