Jinja2==3.0.3
Flask==1.1.2
Flask-Admin
Flask-Bcrypt==0.7.1
Flask-Failsafe
Flask-Migrate==2.7.0
Flask-RESTful==0.3.8
Flask-Redis
flask-restplus
Flask-SQLAlchemy==2.5.1
Flask-Script==2.0.6
Flask-Login
google-api-core
google-api-python-client
google-auth 
google-auth-httplib2 
google-auth-oauthlib
Mako
MarkupSafe==2.0.0
SQLAlchemy==1.3.23
Werkzeug==0.16.1
alembic
aniso8601
blinker
itsdangerous==1.1.0
nose
passlib
pytz
redis
six
flask-cors
python-dateutil
gunicorn
google-cloud-storage
oauth2client
oauthlib
enum34
psycopg2-binary
docx-mailmerge
requests==2.29.0
google
requests-file
tldextract
parameterized
mock
pyrsistent
rsa
WTForms==2.3.3
stripe==3.2.0
google-api-python-client==2.23.0